.footer-images{
    background-color: transparent;
    height: 100%;
}
.footer{
    height: var(--footer-height);
    position: fixed;
    bottom: 0px;
    width: 100vw;
    margin:0;
    background: transparent;

}