.homePage a{
    text-decoration: none;
    font-size: 32px;
    color: whitesmoke;
}

.homePage a:hover{
    color: rgb(209, 92, 75);
    transition: color .5s;

}

.homePage{
    font-family:'Times New Roman', Times, serif;
}

.beginSearchContainer{
    width: 15em;

}
.beginSearchContainer:hover{
    backdrop-filter: blur(3px);
    transition: backdrop-filter .5s;

}

#welcomeMessage{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight: 100;
    color: whitesmoke;
    
}

.homeSplashContainer{
    width: var(--body-width);
    height: var(--body-height);
}