.nav{
    position: fixed;
    z-index: 1;
    display: flex;
    width: 8%;
    height: 50vh;
    justify-content: space-around;
    padding-top: 5%;
    top: 0px;
    margin:0;
    background:transparent;
    right: 5%;
    flex-direction: column;
    font-size: 32px;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}

.nav a{
    text-decoration:none;
    color: whitesmoke;
}

.active{
    text-shadow: 1px 1px 5px black;
}