.nav{
    position: fixed;
    z-index: 1;
    display: flex;
    width: 8%;
    height: 50vh;
    justify-content: space-around;
    padding-top: 5%;
    top: 0px;
    margin:0;
    background:transparent;
    right: 5%;
    flex-direction: column;
    font-size: 32px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.nav a{
    text-decoration:none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 5em;
    font-family:'Times New Roman', Times, serif;
}

.nav div{
    position: relative;
}

.active{
    text-shadow: 1px 1px 5px black;
}

.nav a:hover{
    text-shadow: 1px 1px 20px black;
    transition: text-shadow .3s ;
}
